$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px
);

// Revaluta
$primary: #007ca9;
$secondary: #001f48;

// Unicredit
$primary: #e30013;
$secondary: #000000;

$font-family-sans-serif:  'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


$input-focus-border-color: $primary;
$border-radius: 1rem;
$input-focus-box-shadow: none !important;
$input-btn-focus-box-shadow: none !important;
$custom-select-focus-box-shadow: none !important;

$form-group-margin-bottom: 1.5rem;

// $input-border-radius: 0;
// $input-padding-y: 1rem;

// Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import 'node_modules/bootstrap-vue/src/index.scss';